.item
        img.ui.image.small.logo(src='/img/logo_white.png')

a.item.active(href='/')
    i.icon.dashboard
    .content
        | Thống kê

.item
    | &nbsp;

a.right.item(href='/logout')
    i.icon.sign.out
    .content
        | Đăng xuất
